@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.app{
    display: grid;
    grid-template-columns: 15% 85%;
    font-family: 'Poppins', sans-serif;

}
.d-flex{
    display:flex;
}
.justify-content-cener{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.gap-2{
    gap:4em;
}
.red-border{
    border:1px solid red;
}
.cursor-pointer{
    cursor: pointer;
}
.custom_link{
    background-color: var(--blue_color);
    display: flex;
    gap:1em;
    border-radius: .75em;
    align-items: center;
    padding:0 1.5em;
}

@media screen and (max-width:991px) {
    .app{
        grid-template-columns: 0 100%;
    }
}