@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
  --text_grey:#808191;
  --black_light_color:#353945;
  --black_medium_color:#191B20;
  --black_dark_color:#000;
  --light_blue_color:#A3E3FF;
  --blue_color:#3772FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black_dark_color);
  color:white;
  box-sizing: border-box;
  /* min-height: 100vh; */
}

/* app styles */

.app{
    display: grid;
    grid-template-columns: 15% 85%;
    font-family: 'Poppins', sans-serif;

}
.d-flex{
    display:flex;
}
.justify-content-cener{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.gap-2{
    gap:4em;
}
.red-border{
    border:1px solid red;
}
.cursor-pointer{
    cursor: pointer;
}
.custom_link{
    background-color: var(--blue_color);
    display: flex;
    gap:1em;
    border-radius: .75em;
    align-items: center;
    padding:0 1.5em;
}

@media screen and (max-width:991px) {
    .app{
        grid-template-columns: 0 100%;
    }
}